<!DOCTYPE html>
<html>
<head>
    <title>MealMate - Recipe Finder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>MealMate</h1>
    
    <div class="search-container">
        <div class="input-group">
            <input type="text" id="ingredientInput" placeholder="Add ingredients (type to see suggestions)" autocomplete="off">
            <button id="addButton">Add</button>
            <div id="suggestions"></div>
        </div>
        
        <ul id="ingredientList"></ul>
        
        <button id="searchButton">Find Recipes</button>
    </div>
    
    <div id="recipeResults"></div>

    <script src="/static/js/script.js"></script>
</body>
</html>